.ss{
    margin-left: 510px;
  }
.pan{
    background-color: #fceae8;
}
.pen2{
    background-color: #da70d6;
}
.pen3{
    background-color: #0000ff;
}
.pens{
    background-color: #ff1d75;
}